<ion-header>
  <ion-toolbar>
    <ion-title>Modal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Koni chi wa {{ data }}</h1>
  <ion-item>
    <ion-label>Month</ion-label>
    <ion-datetime displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Angular</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>React</ion-label>
      <ion-toggle disabled="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Vue</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>

  <div class="fadeIn">CSS ANIMATIONS</div>
</ion-content>